{{left_sidebar_enabled,right_sidebar_enabled=True,False}}
{{extend 'layout.html'}}

 {{block left_sidebar}}
   <h3>Wyoma Crew Slideshow</h3>

<div id="slides">
		<div class="slides_container">
			
			<div class="slide">
				<div class="item">
					Item One
				</div>
				<div class="item">
					Item Two
				</div>
				<div class="item">
					Item Three
				</div>
			</div>
			
			<div class="slide">
				<div class="item">
					Item Four
				</div>
				<div class="item">
					Item Five
				</div>
				<div class="item">
					Item Six
				</div>
			</div>
			
			<div class="slide">
				<div class="item">
					Item Seven
				</div>
				<div class="item">
					Item Eight
				</div>
			</div>
			
		</div>
	</div>  

	
  
  
{{end}}

<div class="cosmoabout">


<p>Wyoma Films is a company with a dream.  We love to produce original, funny, and engaging videos.  Our videos have a tendency to go viral.  We think this is great.  If you are a business of any kind, you should think this is great too.  Hire us to make you an advertisement that people care to share.  Stop paying for TV advertisements that people mute, fast-forward, or just leave the room for.  Instead, you should pay us to create an advertisement for your brand that people not only watch, but share with their family and friends too.  </p> 

<p>Let's get down to it.  We're a company of young adults between 25-30 years old. We're in touch with our age group, and if you're selling something, you should target our age group.  We're who you want.  Go over to our contact page now and let us know a little bit about your business and your goals.  We'll get back to you within two business days to setup a meeting and get things started. </p>
</div>