{{left_sidebar_enabled,right_sidebar_enabled=False,True}}
{{extend 'layout.html'}}

<h1>About</h1>
<hr>
 				  <div id="aboutsummary">
 				  <div class="thumbnail" id="glen-container">
<img src="{{=URL('static','images/glen.png')}}" title="Glen Baker" id="glen" alt="Glen Baker" />
</div>		  
		        <p>My father introduced me to the basics of computer programming when I was 7.  Ever since, computers have been a major part of my life.  I was the layout editor for my high school newspaper.
		        I re-designed the layout using Adobe Photoshop and InDesign. My design won the 2004 award for Best Layout Design at the San Joaquin Valley Scholastic Press Association competition at 
		        <a href="http://www.csufresno.edu/" title="csufresno.edu">California State University, Fresno</a>.</p>
      
		        <p>I earned a Bachelor of Arts degree with a major in English from <a href="http://www.oberlin.edu" title="oberlin.edu">Oberlin College</a> in 2010.  
		        I started working for <a title="wyomafilms.com" href="http://www.wyomafilms.com">Wyoma Films Inc.</a>,  a multimedia production company 
		        based out of California in August 2011.  I wrote a shot-list, a pitch for a set of commercials, a social media marketing plan, a business proposal for it all, and a friendly cover letter.  
		        I created this package as a way to create business for Wyoma Films.  I sold the package to <a title="sunmaid.com" href="http://www.sunmaid.com/">Sun Maid Growers of California</a> who have commissioned Wyoma Films 
		        to produce three commercials based on my proposal.</p>
				<p></p>
		       </div>	