{{extend 'layout.html'}}

<div id="intro">		
<div id="header"></div>
<div id="logo">
<div id="nameblock">
<div id="fname">
<a title="about me" href="{{=URL('default', 'about')}}">Glen</a>
</div> <!-- end first name -->
<div id="lname">
<a title="contact me" href="mailto:glen@graykoolaid.com">Baker</a>
</div> <!-- end last name -->
</div> <!-- end of name -->
</div> <!-- end logo -->

<div id="statement">
<div id="hello"><h2>Hello,</h2></div>
 <div id="whoami"><h2>I'm from the </h2></div>
<a href="http://en.wikipedia.org/wiki/Internet" title="what is this Internet people are talking about?" id="interwebs"><h2>Interweb.</h2></a>
<h2><a title="previous projects" href="{{=URL('default', 'projects')}}" id="credentials">Here are my credentials</a>:</h2>

<div id="socialfeed">

<a href="{{=URL('default', 'projects')}}" title="my projects"><div id="hireme" class="thumbnail">
<h3>my projects</h3></div></a>
<a href="http://www.github.com/graykoolaid" title="my git"><div id="github" class="thumbnail">
<h3>my git</h3>
</div></a>
</div> <!-- end socialfeed -->



<!--
<img src="{{=URL('static', 'images/legacy.jpg')}}" id="legacyphoto" />
-->
<!--
<img src="{{=URL('static', 'images/bannercut.jpg')}}" id="bannercut" />
-->
<!--
<img src="{{=URL('static', 'images/valleydelights.jpg')}}" id="valleydelight" /> 
- Block prints created by Artist Nathan Nielsen
-->

</div>
</div>
</div>
